@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  overflow: hidden;
  background-color: hsl(225deg, 100%, 94%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img,
picture {
  display: block;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.card__heading {
  font-size: 2rem;
  font-weight: 900;
  color: hsl(223deg, 47%, 23%);
  display: inline-block;
  margin-bottom: 1rem;
}

.price-header {
  font-weight: 900;
  color: hsl(223deg, 47%, 23%);
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(224deg, 23%, 55%);
  line-height: 1.5;
  text-align: center;
}

.card__link {
  font-weight: 900;
  font-family: inherit;
  color: hsl(245deg, 75%, 52%);
  font-size: 1.3rem;
  transition: all 0.4s ease;
}
.card__link:hover {
  text-decoration: none;
}

.card {
  width: 90vw;
  background-color: hsl(225deg, 100%, 98%);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  max-width: 35rem;
}
.card__content {
  padding: 1.5rem;
  text-align: center;
  width: 100%;
}
.card__content > * {
  margin-bottom: 2rem;
}
.card__price {
  padding: 0.3rem 0.5rem;
  background-color: hsl(225deg, 100%, 94%);
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card__price > * {
  margin-right: 2rem;
}
@media screen and (min-width: 1024px) {
  .card__price {
    margin: 3rem 0;
  }
}

.payment {
  margin: 2rem 0;
}
.payment__link:link, .payment__link:visited {
  font-weight: 700;
  padding: 1.5rem 7.5rem;
  background-color: hsl(245deg, 75%, 52%);
  color: hsl(225deg, 100%, 98%);
  text-decoration: none;
  font-family: inherit;
  display: inline-block;
  border-radius: 15px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
  position: relative;
}
.payment__link:link::after, .payment__link:visited::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: hsl(224deg, 23%, 55%);
  opacity: 0;
  border-radius: 15px;
  transition: all 0.4s ease-in;
}
.payment__link:link:hover::after, .payment__link:visited:hover::after {
  opacity: 0.4;
}
.payment__cancel {
  text-decoration: none;
  color: hsl(224deg, 23%, 55%);
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-block;
  margin-top: 1.3rem;
  transition: all 0.4s ease-in;
}
.payment__cancel:hover {
  color: hsl(223deg, 47%, 23%);
}
@media only screen and (min-width: 1024px) {
  .payment {
    margin-top: 3rem;
  }
}

body {
  background-image: url("../images/pattern-background-mobile.svg");
}
@media only screen and (min-width: 768px) {
  body {
    background-image: url("../images/pattern-background-desktop.svg");
  }
}

.card__photo {
  background-image: url("../images/illustration-hero.svg");
  background-size: cover;
  background-position: 50% 50%;
  height: 15rem;
  width: 100%;
}/*# sourceMappingURL=global.css.map */