@use "../abstract" as *;
.card {
  width: 90vw;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0.5rem 3rem rgba(#000, 0.4);
  max-width: 38rem;

  &__content {
    padding-inline: 2rem;
    padding-top: 1rem;
    text-align: center;
    width: 100%;

    & > * {
      margin-bottom: 2rem;
    }
    @media screen and (min-width: 768px) {
      padding-inline: 4rem;
    }
  }

  &__price {
    padding: 2rem 0.5rem;
    background-color: $color-vpale-blue;
    // width: 100%;

    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

    // margin-top: 1rem;
    & > * {
      margin-right: 2rem;
    }
    @media screen and (min-width: 1024px) {
      margin: 3rem 0;
    }
  }
  @media screen and (min-width: 1440px) {
    // height: 56rem;
    max-width: 40rem;
    transform: scale(1.1);
    &__text {
      margin: 2rem 0;
    }
  }
}
