@use "../abstract" as *;
.card {
  width: 90vw;
  background-color: $color-vpale-blue;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0.5rem 3rem rgba(#000, 0.4);
  max-width: 38rem;

  &__content {
    padding: 1.5rem;
    padding-bottom: 0;
    text-align: center;
    width: 100%;
    & > * {
      margin-bottom: 2rem;
    }
  }

  &__price {
    padding: 0.3rem 0.5rem;
    background-color: $color-primary-light;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    // margin-top: 1rem;
    & > * {
      margin-right: 2rem;
    }
    @media screen and (min-width: 1024px) {
      margin: 3rem 0;
    }
  }
  @media screen and (min-width: 1440px) {
    height: 56rem;
    max-width: 37rem;
    &__text {
      margin: 2rem 0;
    }
  }
}
