//Colors
$color-primary-light: hsl(225, 100%, 94%);
$color-primary-dark: hsl(245, 75%, 52%);

$color-vpale-blue: hsl(225, 100%, 98%);
$color-desaturated-blue: hsl(224, 23%, 55%);
$color-dark-blue: hsl(223, 47%, 23%);

//Font-weight
$font-weight-5: 500;
$font-weight-7: 700;
$font-weight-9: 900;
